In [2]:
from pandas import Series, DataFrame
import pandas as pd

pos_df = pd.read_csv('C:/Users/LG/OneDrive/바탕 화면/코딩/com_pos.csv', encoding='utf-8-sig')
reply_list = list(pos_df['comment'])

name_df = pd.read_csv('C:/Users/LG/OneDrive/바탕 화면/코딩/masking_word.csv', encoding='utf-8-sig')
name_list = list(name_df['name_list'])

In [3]:
names_list = []
for names in name_list:
    names = str(names)
    if ',' in names:
        names = names.replace(' ', '')
        names = names.split(',')
        for i in range(len(names)):
            names_list.append(names[i])

In [4]:
masking_data = []

for i in range(len(reply_list)):
    for name in names_list:
        if name in reply_list[i]:
            reply_list[i] = reply_list[i].replace(name, 'OOO')
        else:
            pass

In [63]:
for name in names_list:
    if '안정권' in name:
       print(name)

안정권

In [9]:
df = pd.DataFrame({'masking_data' : reply_list})

In [12]:
import csv
df.to_csv('masking.csv', encoding='utf-8-sig')

In [11]:
df

                                            masking_data
0                                       욕쟁이들이 편히 사는 나라ㅋㅋ
1                             왼쪽애들한테 맨날 시달렸는데 거울치료 ㅅㅌㅊㅋㅋ
2                               대한민국 국민들은 OOO에게 감사하게 여겨라
3                                   계양은 이번에 평가 받겠지. 지켜봄.
4      탈라도하신 OOO이 문정권보다 518배 낫다고 자부합니다. 이제 나라가 제대로 돌아...
...                                                  ...
12133                                             기사좋아요.
12134              간OOO하고 신삼정하고 당 하나 통합해서 만들어라역적당 이라고 좋음
12135           OOO이 정말 고맙네. OOO 덕분에 김동현이 당선되었어.OOO 고맙다.
12136                              OOO아 아직 마무리 못한 일은끝내야지
12137  원래 성질 더러운 애들끼리 거기까지 간 것만 해도 대단한 거다 ㅋㅋㅋㅋ 이젠 그랬으...

[12138 rows x 1 columns]